import React from "react";

import {{pascalCase name}}Props from "./{{pascalCase name}}.types";
import cn from "./{{pascalCase name}}.module.pcss";

const {{pascalCase name }} = (props: {{pascalCase name}}Props): React.ReactElement => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};
